@font-face {
	font-family: 'Helvetica Neue LT Std 43 Light Extended';
	font-display: swap;
	src: url("../fonts/Helvetica Neue LT Std 43 Light Extended.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue LT Std 75 Bold';
	font-display: swap;
	src: url("../fonts/Helvetica Neue LT Std 75 Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
